/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

.box{
    background-color: green;
    color: white;
    font-size: 4vw;
	padding:5px;
    padding-bottom: 40px;
}
.span4{
    grid-column: span 4/auto;
}

.span2{
    grid-column: span 2/auto;
}

.span3{
    grid-column: span 3/auto;
}

.row-span4{
    grid-row: span 4/auto;
}